# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output
dist/
build/

# Local env files
.env
.env.*.local

# Editor & system files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# TailwindCSS cache
.tailwindcss/

# Vite cache
.vite/

# Logs
*.log
logs/
